<!--
<ion-header>
  <ion-toolbar>
    <ion-title>order-placed</ion-title>
  </ion-toolbar>
</ion-header>
-->

<ion-content>
    <div class="container ion-text-center">
        <div class="img_box animate__animated animate__zoomIn">
            <img src="assets/images/order_placed.png">
        </div>
        <div class="text_box">
            <h2 class="animate__animated animate__fadeInUp">Enter your Phone Number</h2>
            <p class="animate__animated animate__fadeInUp"></p>
        </div>
    </div>
</ion-content>
<ion-footer class="ion-no-border animate__animated animate__fadeInUp">
    <ion-button size="large" shape="full" class="btn" (click)="tabs()"> Back </ion-button>
</ion-footer>
