<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button text="" icon="chevron-back-outline"></ion-back-button>
        </ion-buttons>
        <ion-title>
            {{'terms_conditions' | translate}}
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <div class="banner">
        <div class="logo ion-text-center animate__animated animate__zoomIn">
            <img src="assets/images/Logo.png" class="light_theme_logo">
            <img src="assets/images/logo_user_dark.png" class="dark_theme_logo">
        </div>
    </div>
    <div class="container">
        <h2 class="animate__animated animate__fadeInUp">Terms of use</h2>
        <p class="animate__animated animate__fadeInUp">
            Here are the terms of use
        </p>
        <p class="animate__animated animate__fadeInUp">
            Continuation of the terms of use
        </p>

        <h2 class="animate__animated animate__fadeInUp">Company Policy</h2>
        <p class="animate__animated animate__fadeInUp">
            These are company policies
        </p>
        <p class="animate__animated animate__fadeInUp">
            Continuation of Company Policies
        </p>
    </div>
</ion-content>
