<ion-header>
    <ion-toolbar>
        <ion-buttons mode="md" slot="start">
            <ion-back-button icon="chevron-back-outline" text=""></ion-back-button>
        </ion-buttons>
        <ion-title>Parking</ion-title>
    </ion-toolbar>
    <div class="shop_name">
        <h2>Apply for Parking</h2>
    </div>
</ion-header>

<ion-content class="bg_color" fullscreen>
    <ion-list lines="none">
        <div class="item_list animate__animated animate__fadeInUp">
            <ion-item class="animate__animated animate__fadeInUp">
                <div class="item_inner">
                    <div class="text_box">
                        <h3>Parking Zone</h3>

<!--                        <mat-select-->
<!--                                (selectionChange)="getAllParkingCharges()"-->
<!--                                class="form-control"-->
<!--                                formControlName="parkingZone"-->
<!--                                placeholder="Select your Parking Zone"-->
<!--                        >-->
<!--                            <mat-option-->
<!--                                    *ngFor="let item of parkingZones"-->
<!--                                    [value]="item.zoneId">-->
<!--                                {{item.zoneName  | titlecase}}-->
<!--                            </mat-option>-->
<!--                        </mat-select>-->


                        <div class="buttons d-flex">
                            <h5 (click)="variation_selection()">Select Parking Zone
                                <ion-icon class="zmdi zmdi-chevron-down ion-text-end"></ion-icon>
                            </h5>
                        </div>
                    </div>
                </div>
            </ion-item>
            <ion-item class="animate__animated animate__fadeInUp">
                <div class="item_inner">
                    <div class="text_box">
                        <h3>Parking Type</h3>
                        <div class="buttons d-flex">
                            <h5 (click)="variation_selection()">Select Parking Type
                                <ion-icon class="zmdi zmdi-chevron-down ion-text-end"></ion-icon>
                            </h5>
                        </div>
                    </div>
                </div>
            </ion-item>
            <ion-item class="animate__animated animate__fadeInUp">
                <div class="item_inner">
                    <div class="text_box">
                        <h3>Vehicle Type</h3>
                        <div class="buttons d-flex">
                            <h5 (click)="variation_selection()">Select Vehicle Type
                                <ion-icon class="zmdi zmdi-chevron-down ion-text-end"></ion-icon>
                            </h5>
                        </div>
                    </div>
                </div>
            </ion-item>
        </div>

        <div class="form animate__animated animate__fadeInUp">
            <ion-item lines="none">
                <div class="item_inner d-flex">
                    <div class="icon_box ion-text-start"><img src="assets/images/ic_instruction.png"></div>
                    <div class="input_box">
                        <ion-input mode="md" placeholder="Enter Vehicle Reg number.eg KAC 2020D"
                                   type="name"></ion-input>
                    </div>
                </div>
            </ion-item>
        </div>

        <div class="payment_info animate__animated animate__fadeInUp">
            <h1>{{'payment_info' | translate}}</h1>
            <ion-item class="animate__animated animate__fadeInUp">
                <div class="item_inner">
                    <h3 class="d-flex">{{'sub_total' | translate}} <span class="end">Kes 10.00</span></h3>
                </div>
            </ion-item>
            <ion-item class="animate__animated animate__fadeInUp">
                <div class="item_inner">
                    <h3 class="d-flex">{{'service_fee' | translate}} <span class="end">Kes 0.00</span></h3>
                </div>
            </ion-item>
            <ion-item class="animate__animated animate__fadeInUp">
                <div class="item_inner">
                    <h2 class="d-flex">{{'amount_to_pay' | translate}} <span class="end">Kes 10.00</span></h2>
                </div>
            </ion-item>
        </div>
    </ion-list>
</ion-content>

<ion-footer class="ion-no-border animate__animated animate__fadeInUp">
    <!--    <div class="delivery_address">-->
    <!--        <h2 class="d-flex">-->
    <!--            <ion-icon class="zmdi zmdi-pin ion-text-start"></ion-icon>-->
    <!--            {{'deliver_to' | translate}}&nbsp;-->
    <!--            <span class="ion-text-uppercase">Home</span>-->
    <!--&lt;!&ndash;            <span class="end">{{'change' | translate}}</span>&ndash;&gt;-->
    <!--        </h2>-->
    <!--        <p> Flat num, 114, Frist Floor, Central Residency 1024, Central Residency Hemilton Park, New York, USA</p>-->
    <!--    </div>-->
    <ion-button (click)="payment()" class="btn" expand="full" size="large">{{'pay' | translate}} Kes 10.00</ion-button>
</ion-footer>
