<ion-content (click)="dismiss()" fullscreen>

</ion-content>
<ion-footer class="ion-no-border">
    <ion-list lines="none">
        <div class="list_header d-flex">
            <div class="text_box">
                <h2>Parking Zones</h2>
                <h3>Choose your Parking Zone</h3>
            </div>
            <h6 (click)="dismiss()" class="end">Select</h6>
        </div>

        <ul class="list-group" style="list-style-type:none">

            <li *ngFor="let item of itemsList" class="list-group-item">
                <ion-item class="animate__animated animate__fadeInUp">
                    <div class="item_inner d-flex">
                        <input (change)="onItemChange(item)"
                               [(ngModel)]="radioSelected"
                               name="list_name"
                               slot="start"
                               type="radio"
                               value="{{item.zoneId}}" class="ion-margin-end"/>
                        <h2 class="d-flex">
                            {{item.zoneName}}
                        </h2>
                    </div>
                </ion-item>


            </li>
        </ul>
    </ion-list>
</ion-footer>
