<ion-header>
    <h3 class="d-flex">
        <ion-toolbar>
            <ion-title>
                <div class="title_inner d-flex">
                    <div class="form">
                        <ion-item lines="none">
                            <div class="item_inner d-flex">
                                <ion-icon class="ion-text-start" name="albums-outline"></ion-icon>
                                <ion-select mode="ios" interface="popover" [(ngModel)]="location">
                                    <ion-select-option value="home" routerLink="./cart">Parking</ion-select-option>
                                    <ion-select-option value="office"  routerLink="./sbp">SBP</ion-select-option>
                                    <ion-select-option value="other">Land Rates</ion-select-option>
                                </ion-select>
                                <ion-icon class="zmdi zmdi-chevron-down ion-text-end"></ion-icon>
                            </div>
                        </ion-item>
                    </div>
                </div>
            </ion-title>
        </ion-toolbar>

        <span class="end" (click)="getNotifications()"> <ion-icon class="ion-text-start me-4" name="albums-outline"></ion-icon> </span></h3>



    <div class="search_box animate__animated animate__zoomIn">
        <ion-icon class="zmdi zmdi-search ion-text-start"></ion-icon>
        <ion-searchbar class="ion-no-padding" searchIcon="hide" placeholder="{{'search_item_or_store' | translate}}"></ion-searchbar>
    </div>
</ion-header>

<ion-content>
    <div class="item-container">
        <h2>These are the services available</h2>

        <ion-row>
            <ion-col class="animate__animated animate__zoomIn" size="6">
                <div class="item_box" (click)="cart()">
                    <div class="item_img">
                        <img src="assets/images/parking.png">
                    </div>
                    <div class="item_text ion-text-center">
                        <h3>
                            Apply <br>for Parking
                        </h3>
                    </div>
                </div>
            </ion-col>   

            <ion-col class="animate__animated animate__zoomIn" size="6">
                <div class="item_box" (click)="sbp()">
                    <div class="item_img">
                        <img src="assets/images/business.png">
                    </div>
                    <div class="item_text ion-text-center">
                        <h3>
                            Single <br>Business Permit
                        </h3>
                    </div>
                </div>
            </ion-col>    
            
        </ion-row>
    </div>
</ion-content>
